*
{
   margin-top: 0px;
}
header
{
  background-color: black;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header>h1
{
    color: ghostwhite;
    margin-left: 20px;
}
header>h1>span
{
    color:orangered;
    font-size: 50px;
    text-shadow: 0 0 10px whitesmoke;
}
header>#links
{
    position: relative;
}
header>#links>a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 10px;
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
}
header>#links>a:hover
{
    box-shadow: 10px;
    color: black;
}
@media  screen and (min-width:0px) and (max-width:1100px)
 {
     header
     {
         flex-direction: column;
         height: 150px;
     }
     header>#links
     {
         top: 30px;
     }
}
#landing-page
{
    background: black url("{% static 'images/istockphoto-1312139041-612x612.jpg' %}")
    ;
    background-size: cover;
    height: 100vh;
}
#landing-page>#wrapper
{
    color: ghostwhite;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#landing-page>#wrapper>h1
{
    font-size: 50px;
    color: orangered;
}
#landing-page>#wrapper>button
{
    border: none;
    outline: none;
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}
#landing-page>#wrapper>button:hover
{
    box-shadow: 0 0 10px whitesmoke;
    cursor: pointer;
}

    
