{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>j spiders</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
    
</head>
<body>
    
    <header>
        <h1><span>J</span>Spiders Training Institute</h1>
        <div id="links">
             <a href="">Home</a>
             <a href="">Course</a>
             <a href="">Placement</a>
             <a href="">Blog</a>
             <a href="">Contact</a>
             
        </div>
    </header>
    <div id="landing-page">

        <div id="wrapper">
            <h1>Best Training Institute</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, architecto. Expedita molestiae nihil deleniti quia commodi eaque, culpa ad nam animi magni ipsa voluptatem laborum repellat adipisci velit a doloremque.</p>
            <button>Visit Us For More Info</button>
        </div>
    </div>    
</body>
</html>